@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --primary-color: #0000ff;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

h1,
h2,
div,
nav,
ul,
    {
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
div,
nav,
ul,
a,
p,
div.navbarNav
{
    color: var(--primary-color);
}


header nav {
    height: 50px;
}

header,
main,
footer {
    background-color: #cce6ff;
    background-size: cover;
    background-position: center;
}

/*nav,*/
/*ul.lang,*/
/*li.lang,*/
/*.lz {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-left: 10px;*/
/*    align-items: center;*/
   
/*}*/

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}



header nav .search {
    max-width: 200px;
    color: red;
    border-radius: 1em;
    font-size: 0.8rem;
    height: 30px;
}

section.lable {
    display: grid;
    align-items: center;
    margin: 20px;
    padding: 0; 
    text-align: center;
    justify-content: center;
}


.logo {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

ul {
    list-style: none;
}

.menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: #0000ff;
    
}

.menu ul {
    width: 980px;
}

.navbar navbar-expand-lg navbar-dark bg-dark nav-pad sticky-top {
    max-width: 980px;
    padding: 0px;
}

.navbar-nav {
    border: 1px solid #0000ff;
    border-radius: 8px;
    border-color: #0000ff;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    background-color: #0000ff;
    width: 950px;
   }
   
.navbar-dark .navbar-nav .nav-link {
    color: #cce6ff;
}

.navbar.bg-dark {
    background-color: #0000ff !important;
    border: #cce6ff;
    color: #0000ff;
    border-radius: 1em;
}


.list {
    text-decoration: none;
}

main {
    margin: 0;
    padding: 0;
}

.scroll-news h3 {
    display: block;
    padding: 20px;
    margin-top: 0px;
    text-align: center;
}

.scroll-news p {
    display: block;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-top: #C0DFDE 2px solid;


}

section.thebest {
    /*height: 350px;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bestworker {
    display: grid;
    align-items: center;
    justify-content: center;
}

.bw-text {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.5rem;
}

.bw-img {
    display: block;
    margin: auto;
}

.contact-form {
    display: grid;
    align-items: center;
}

.contact-form h3 {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.send, .save-btn, .load-btn {
    border-radius: 1em;
    border-width: 1px;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
}

.modal-content {
    background-color: white;
}

.feedback input, textarea {
    padding: 0;
    margin: 0;
    width: 180px;
    border-width: 1px;
    border-radius: 1em;
    text-align: center;
    height: 30px;
    list-style-type: none;


}

.feedback {
    display: grid;
    align-items: center;
    justify-content: center;
}

.feedback select {
    padding: 0;
    margin: 0;
    width: 182px;
    border-width: 1px;
    border-radius: 1em;
    text-align: center;
    height: 30px;
}

textarea {
    height: 60px;
    list-style-type: none;
}

footer.social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}

/*.social {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex: 2;*/
/*    margin-left: 40px;*/
/*}*/
.social img{
    width: 50px;
    height: 50px;
}


.weatherTable {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weatherTableRow {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weatherTableRow * {
    margin: 0px;
}

.modal-title {
    color: #0000ff;
}

.modal-content {
    background-color: palegreen;
}

@media (min-width: 380px) {
    div.logo {
        margin-top: 30px;
    }
} 

@media (max-width: 500px) {
    section.thebest {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}





